.dashboard {
  width: 100%;
}
.dashboard .dashboardContainer {
  display: flex;
}
.dashboard .dashboardContainer .sidebar {
  width: 20%;
  height: 100vh;
  background-color: #06283d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
}
.dashboard .dashboardContainer .sidebar .logo a {
  color: rgb(215, 215, 215);
  font-size: 25px;
  display: block;
  padding: 15px 0;
  margin-bottom: 30px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
}
.dashboard .dashboardContainer .sidebar ul {
  width: 100%;
}
.dashboard .dashboardContainer .sidebar ul li {
  width: 100%;
}
.dashboard .dashboardContainer .sidebar ul li a {
  width: 100%;
  display: block;
  padding: 15px;
  color: #ccc;
  font-size: 18px;
  font-weight: 300;
  transition: background-color 0.3s ease-in;
}
.dashboard .dashboardContainer .sidebar ul li a.active,
.dashboard .dashboardContainer .sidebar ul li a:hover {
  background-color: #0a3e5f;
}
.dashboard .dashboardContainer .sidebar .actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard .dashboardContainer .sidebar .actions button {
  width: 100%;
  padding: 10px 25px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #256d85;
  color: #fff;
}
.dashboard .dashboardContainer .sidebar .actions button.logout {
  background-color: #3d8361;
}
